<div class="mat-elevation-z8">
  <div class="div" align="end" style="padding-right: 25px">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        formcInputuppercase
        matInput
        (keyup)="applyFilter($event)"
        #input
      />
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="fileRefno">
      <th mat-header-cell *matHeaderCellDef>File Ref.no</th>
      <td mat-cell *matCellDef="let element">
        <div class="row">
          <p>{{ element.fileRefno }}</p>
          &nbsp; &nbsp;
          <p *ngIf="element.medVisaRefno != null && element.medVisaRefno != ''">
            [Extn..]
          </p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.patientName }} {{ element.patientSurname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="patientDob">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let element">{{ element.patientDOB }}</td>
    </ng-container>
    <ng-container matColumnDef="patientPassnum">
      <th mat-header-cell *matHeaderCellDef>Passport Number</th>
      <td mat-cell *matCellDef="let element">{{ element.patientPptno }}</td>
    </ng-container>
    <ng-container matColumnDef="patientAddr">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.patientAddr }}</td>
    </ng-container>
    <!--Application Id-->
    <ng-container matColumnDef="applicationId">
      <th mat-header-cell *matHeaderCellDef>Form C Id</th>
      <td mat-cell *matCellDef="let element">{{ element.form_c_appl_id }}</td>
    </ng-container>
    <ng-container matColumnDef="entered_on">
      <th mat-header-cell *matHeaderCellDef>Entered On</th>
      <td mat-cell *matCellDef="let element">
        {{ element.entered_on.slice(0, 16) }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.given_name }} {{ element.surname }}
      </td>
    </ng-container>

    <!-- country Column -->
    <ng-container matColumnDef="country_outside_india_desc">
      <th mat-header-cell *matHeaderCellDef>Nationality</th>
      <td mat-cell *matCellDef="let element">{{ element.nationality }}</td>
    </ng-container>

    <!-- pptno Column -->
    <ng-container matColumnDef="passnum">
      <th mat-header-cell *matHeaderCellDef>Passport Number</th>
      <td mat-cell *matCellDef="let element">{{ element.passnum }}</td>
    </ng-container>
    <!-- dob Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
    </ng-container>
    <ng-container matColumnDef="rowNo">
      <th mat-header-cell *matHeaderCellDef>Row</th>
      <td mat-cell *matCellDef="let element">{{ element.rowNo }}</td>
    </ng-container>
    <ng-container matColumnDef="editPending">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Edit"
          color="primary"
          (click)="editRecord(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Delete"
          color="primary"
          (click)="deletePendingRecord(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="editPendingMedvisa">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Edit"
          color="primary"
          (click)="editMedvisa(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Delete"
          color="primary"
          (click)="deletePendingMedvisa(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="deletePending">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Delete" color="primary"
            (click)="deletePendingRecord(element)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container> -->
    <ng-container matColumnDef="submittedAction">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Print"
          color="primary"
          (click)="getMedvisaPdf(element)"
        >
          <mat-icon>print</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Extension"
          color="primary"
          (click)="editMedvisaExtn(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="extnAction">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="element.rowNo == 1"
          mat-icon-button
          matTooltip="Extension"
          color="primary"
          (click)="editMedvisaExtn(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="element.rowNo != 1"
          mat-icon-button
          matTooltip="Edit"
          color="primary"
          (click)="getMedvisaPdf(element)"
        >
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="viewDetails">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="View"
          color="primary"
          (click)="viewDetails(element)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        &nbsp;<button
          mat-icon-button
          matTooltip="Print"
          color="primary"
          (click)="getPdf(element)"
        >
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="markCheckout">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="View"
          color="primary"
          (click)="viewDetails(element)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Mark Checkout"
          color="primary"
          (click)="openCheckoutDialog(element)"
        >
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Individual Print"
          color="primary"
          (click)="getIndividualPdf(element)"
        >
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="printExited">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Print"
          color="primary"
          (click)="getPdf(element)"
        >
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td style="text-align: center; font-size: larger" colspan="4">
        NO RECORDS FOUND!
      </td>
    </tr>
  </table>
  <br />
  <mat-paginator
    [length]="length"
    [pageSize]="5"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">
       </mat-paginator> -->
</div>
