<form [formGroup]="formGroup" class="hotelinfo-form">
  <mat-horizontal-stepper
    class="mat-elevation-z4"
    #linearVerticalStepper
    formArrayName="formArray"
    [linear]="true"
  >
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Accommodator Information</ng-template>
      <div class="row">
        <div class="col-md-3">
          <mat-label class="asterix--before">Gender</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              formControlName="gender"
              placeholder="Gender"
            >
              <mat-option value="F">Female</mat-option>
              <mat-option value="M">Male</mat-option>
              <mat-option value="X">Transgender</mat-option>
            </mat-select>
            <mat-error
              *ngIf="formArray?.get([0]).get('gender').hasError('required')"
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Date of birth</mat-label>
          <mat-form-field
            floatLabel="always"
            class="full-width"
            appearance="outline"
            formcDateFormat
          >
            <input
              [disabled]="isAddDisabled"
              [max]="maxDate"
              formcInputuppercase
              matInput
              formcInputuppercase
              readonly
              [matDatepicker]="dob"
              formControlName="dob"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dob"
            ></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
            <mat-error
              *ngIf="formArray?.get([0]).get('dob').hasError('required')"
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Occupation</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              [readonly]="isAddDisabled"
              matInput
              formcInputuppercase
              formControlName="designation"
              placeholder="Occupation"
              maxlength="50"
            />
            <mat-error
              *ngIf="
                formArray?.get([0]).get('designation').hasError('required')
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Nationality</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              formControlName="nationality"
              placeholder="Nationality"
            >
              <mat-option
                *ngFor="let country of countries"
                [value]="country.country_code"
              >
                {{ country.country_name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray?.get([0]).get('nationality').hasError('required')
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-label class="asterix--before">Phone Number</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              [readonly]="isAddDisabled"
              matInput
              formcInputuppercase
              formControlName="phoneNo"
              placeholder="Phone"
              maxlength="15"
            />
            <mat-error
              *ngIf="formArray?.get([0]).get('phoneNo').hasError('required')"
              >Required</mat-error
            >
            <mat-error
              *ngIf="formArray?.get([0]).get('phoneNo').hasError('pattern')"
              >Only numbers and - allowed
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
          <div class="col-md-3">
            <mat-label class="asterix--before">Email Id</mat-label>
            <mat-form-field floatLabel="always" appearance="outline" class="full-width">

              <input matInput formcInputuppercase formControlName="emailId" placeholder="Email Id" maxlength="50">
              <mat-error *ngIf="formArray?.get([0]).get('emailId').hasError('required')">Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-label class="asterix--before">Mobile Number</mat-label>
            <mat-form-field floatLabel="always" appearance="outline" class="full-width">

              <input matInput formcInputuppercase formControlName="mobile" placeholder="Mobile" maxlength="50">
              <mat-error *ngIf="formArray?.get([0]).get('mobile').hasError('required')">Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-label class="asterix--before">Phone Number</mat-label>
            <mat-form-field floatLabel="always" appearance="outline" class="full-width">

              <input matInput formcInputuppercase formControlName="phnNum" placeholder="Phone" maxlength="50">
              <mat-error *ngIf="formArray?.get([0]).get('phnNum').hasError('required')">Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-label class="asterix--before">Nationality</mat-label>

            <mat-form-field floatLabel="always" appearance="outline" class="full-width">

              <mat-select formControlName="nationality" placeholder="Nationality">
                <mat-option *ngFor="let country of countries" [value]="country.country_code">
                  {{ country.country_name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formArray?.get([0]).get('gender').hasError('required')">Required</mat-error>
            </mat-form-field>
          </div>
        </div> -->

      <div align="end">
        <button color="primary" mat-raised-button (click)="submitUserProfile()">
          Next
        </button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Hotel Information</div>
      </ng-template>
      <br />

      <div class="row">
        <div class="col -md-3">
          <mat-label class="asterix--before">Name</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formcInputuppercase
              formControlName="accomName"
              placeholder="Hotel Name"
              maxlength="50"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomName').hasError('required') &&
                formArray?.get([1]).get('accomName').touched
              "
              >Required</mat-error
            >
            <mat-error
              *ngIf="formArray?.get([1]).get('accomName').hasError('pattern')"
              >Only alphabets, space and dot allowed</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Capacity (No.of rooms)</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formcInputuppercase
              formControlName="accomCapacity"
              placeholder="capacity"
              maxlength="4"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomCapacity').hasError('required') &&
                formArray?.get([1]).get('accomCapacity').touched
              "
              >Required</mat-error
            >
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomCapacity').hasError('pattern')
              "
              >Only numbers allowed
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Address</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formcInputuppercase
              formControlName="accomAddress"
              placeholder="Address"
              maxlength="150"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomAddress').hasError('required') &&
                formArray?.get([1]).get('accomAddress').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">State </mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              matInput
              formcInputuppercase
              placeholder="State"
              formControlName="accomState"
              (selectionChange)="onChangeState($event)"
            >
              <mat-option
                *ngFor="let state of states"
                [value]="state.stateCode"
              >
                {{ state.ststeName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomState').hasError('required') &&
                formArray?.get([1]).get('accomState').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-label class="asterix--before">City</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              matInput
              formcInputuppercase
              placeholder="City"
              (selectionChange)="onChangedCity()"
              formControlName="accomCityDist"
              #select_nationality
            >
              <mat-option
                *ngFor="let city of districts"
                [value]="city.districtCode"
              >
                {{ city.districtName }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomCityDist').hasError('required') &&
                formArray?.get([1]).get('accomCityDist').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">FRRO/FRO </mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              matInput
              formcInputuppercase
              placeholder="Fro/Frro"
              formControlName="frroTypeCode"
            >
              <mat-option
                *ngFor="let frro of frroList"
                [value]="frro.frro_fro_code"
              >
                {{ frro.frro_fro_desc }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray?.get([1]).get('frroTypeCode').hasError('required') &&
                formArray?.get([1]).get('frroTypeCode').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3" *ngIf="isIHRegn == false">
          <mat-label class="asterix--before">Accomodation Type</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              matInput
              formcInputuppercase
              placeholder="Accomodation Type"
              formControlName="accomodationType"
              #select_nationality
            >
              <mat-option
                *ngFor="let accotype of accoTypeList"
                [value]="accotype.acc_type_code"
              >
                {{ accotype.acc_type_name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray
                  ?.get([1])
                  .get('accomodationType')
                  .hasError('required') &&
                formArray?.get([1]).get('accomodationType').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3" *ngIf="isIHRegn == false">
          <mat-label class="asterix--before">Accomodation Grade</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <mat-select
              [disabled]="isAddDisabled"
              matInput
              formcInputuppercase
              placeholder="Accomodation Grade"
              formControlName="accomodationGrade"
              #select_nationality
            >
              <mat-option
                *ngFor="let accograde of accoGradeList"
                [value]="accograde.acco_grade"
              >
                {{ accograde.acco_grade_desc }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                formArray
                  ?.get([1])
                  .get('accomodationGrade')
                  .hasError('required') &&
                formArray?.get([1]).get('accomodationGrade').touched
              "
              >Required</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-label class="asterix--before">Email Id</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formControlName="accomEmail"
              placeholder="Email Id"
              maxlength="50"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomEmail').hasError('required') &&
                formArray?.get([1]).get('accomEmail').touched
              "
              >Required</mat-error
            >
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomEmail').hasError('pattern') &&
                formArray?.get([1]).get('accomEmail').touched
              "
              >Enter valid email id</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Mobile Number</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formcInputuppercase
              formControlName="accomMobile"
              placeholder="Mobile"
              maxlength="15"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomMobile').hasError('required') &&
                formArray?.get([1]).get('accomMobile').touched
              "
              >Required</mat-error
            >
            <mat-error
              *ngIf="formArray?.get([1]).get('accomMobile').hasError('pattern')"
              >Only numbers allowed
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-label class="asterix--before">Phone Number</mat-label>
          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="full-width"
          >
            <input
              matInput
              [readonly]="isAddDisabled"
              formcInputuppercase
              formControlName="accomPhoneNum"
              placeholder="Phone"
              maxlength="15"
            />
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomPhoneNum').hasError('required') &&
                formArray?.get([1]).get('accomPhoneNum').touched
              "
              >Required</mat-error
            >
            <mat-error
              *ngIf="
                formArray?.get([1]).get('accomPhoneNum').hasError('pattern')
              "
              >Only numbers allowed
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div align="end">
        <button mat-raised-button color="primary" matStepperPrevious>
          Prev
        </button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button
          mat-raised-button
          color="primary"
          (click)="ownerDetails == null ? OpenDialog('Add', {}) : null"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Hotel Owner Details</ng-template>

      <br /><br />
      <div class="row" style="padding: 2%">
        <div class="col-md-11">
          <table
            class="mat-elevation-z8"
            mat-table
            [dataSource]="ownerDetailsSource"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>Address</th>
              <td mat-cell *matCellDef="let element">{{ element.address }}</td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef>State</th>
              <td mat-cell *matCellDef="let element">
                {{ element.stateDesc }}
              </td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef>City</th>
              <td mat-cell *matCellDef="let element">{{ element.cityDesc }}</td>
            </ng-container>
            <ng-container matColumnDef="emailId">
              <th mat-header-cell *matHeaderCellDef>Email Id</th>
              <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
            </ng-container>
            <ng-container matColumnDef="phnNum">
              <th mat-header-cell *matHeaderCellDef>Phone Number</th>
              <td mat-cell *matCellDef="let element">{{ element.phoneNum }}</td>
            </ng-container>
            <ng-container matColumnDef="mblNum">
              <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
              <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <!-- <td mat-cell *matCellDef="let element">
                <mat-icon (click)="OpenDialog('Delete', element)"
                  >delete</mat-icon
                >
              </td> -->
              <td mat-cell *matCellDef="let element">
                <div
                  *ngIf="isAddDisabled == true; then thenBlock; else elseBlock"
                ></div>
                <ng-template #thenBlock>
                  <mat-icon style="color: grey">block</mat-icon></ng-template
                >
                <ng-template #elseBlock>
                  <mat-icon (click)="OpenDialog('Delete', element)"
                    >delete</mat-icon
                  ></ng-template
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumn"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td style="text-align: center; font-size: larger" colspan="4">
                NO RECORDS FOUND!
              </td>
            </tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5">No data</td>
            </tr>
          </table>
        </div>
        <div *ngIf="!isAddDisabled" class="col-md-1">
          <button
            color="primary"
            mat-raised-button
            (click)="OpenDialog('Add', {})"
          >
            Add
          </button>
        </div>
      </div>
      <br />
      <div fxLayout="row" class="prevNxtbtn" fxLayoutGap="20px">
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Prev
          </button>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="submitFunc()"
          >
            Next
          </button>
        </div>
      </div>
      <br />
      <!-- <div>
          <button mat-button (click)="submitFunc()">Done</button>
          <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
        </div> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit For Approval</ng-template>
      <br />
      <div style="text-align: center">
        <div class="container" *ngIf="accommodatorDetails != null">
          <div>
            <mat-divider></mat-divider>
          </div>
          <div
            class="text mat-typography"
            style="font-size: 20px; font-weight: bold"
          >
            Accommodator Details
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <br />
        <table class="table" *ngIf="accommodatorDetails != null">
          <tr>
            <th>Accommodator Name</th>
            <td>{{ accommodatorDetails["accomName"] }}</td>
            <th>Capacity</th>
            <td>{{ accommodatorDetails["accomCapacity"] }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ accommodatorDetails["accomAddress"] }}</td>
            <th>State</th>
            <td>{{ accommodatorDetails["accomStateDesc"] }}</td>
          </tr>
          <tr>
            <th>District</th>
            <td>{{ accommodatorDetails["accomCityDesc"] }}</td>
            <th>Frro/Fro</th>
            <td>{{ accommodatorDetails["frroDesc"] }}</td>
          </tr>
          <tr>
            <th>Accommodation Type</th>
            <td>{{ accommodatorDetails["accoTypeDesc"] }}</td>
            <th>Accommodation Grade</th>
            <td>{{ accommodatorDetails["accoGradeDesc"] }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ accommodatorDetails["accomEmail"] }}</td>
            <th>Mobile Number</th>
            <td>{{ accommodatorDetails["accomMobile"] }}</td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>{{ accommodatorDetails["accomPhoneNum"] }}</td>
          </tr>
        </table>
        <div class="container" *ngIf="ownerDetails != null">
          <div>
            <mat-divider></mat-divider>
          </div>
          <div
            class="text mat-typography"
            style="font-size: 20px; font-weight: bold"
          >
            Owner Details
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>

        <table
          mat-table
          [dataSource]="ownerDetails"
          *ngIf="ownerDetails != null"
        >
          <!--Application Id-->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{ element.stateDesc }}</td>
          </ng-container>
          <ng-container matColumnDef="cityDist">
            <th mat-header-cell *matHeaderCellDef>District</th>
            <td mat-cell *matCellDef="let element">{{ element.cityDesc }}</td>
          </ng-container>
          <ng-container matColumnDef="emailId">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
          </ng-container>
          <ng-container matColumnDef="phoneNum">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{ element.phoneNum }}</td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <br />
        <br />
      </div>
      <div fxLayout="row" class="prevNxtbtn" fxLayoutGap="20px">
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Prev
          </button>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="submitApplCnfrm()"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Generate Pdf</ng-template>

      <div style="text-align: center">
        <br />
        <div class="container" *ngIf="accommodatorDetails != null">
          <div>
            <mat-divider></mat-divider>
          </div>
          <div
            class="text mat-typography"
            style="font-size: 20px; font-weight: bold"
          >
            Accommodator Details
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <br />
        <table class="table" *ngIf="accommodatorDetails != null">
          <tr>
            <th>Accommodator Name</th>
            <td>{{ accommodatorDetails["accomName"] }}</td>
            <th>Capacity</th>
            <td>{{ accommodatorDetails["accomCapacity"] }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ accommodatorDetails["accomAddress"] }}</td>
            <th>State</th>
            <td>{{ accommodatorDetails["accomStateDesc"] }}</td>
          </tr>
          <tr>
            <th>District</th>
            <td>{{ accommodatorDetails["accomCityDesc"] }}</td>
            <th>Frro/Fro</th>
            <td>{{ accommodatorDetails["frroDesc"] }}</td>
          </tr>
          <tr>
            <th>Accommodation Type</th>
            <td>{{ accommodatorDetails["accoTypeDesc"] }}</td>
            <th>Accommodation Grade</th>
            <td>{{ accommodatorDetails["accoGradeDesc"] }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ accommodatorDetails["accomEmail"] }}</td>
            <th>Mobile Number</th>
            <td>{{ accommodatorDetails["accomMobile"] }}</td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>{{ accommodatorDetails["accomPhoneNum"] }}</td>
          </tr>
        </table>
        <div class="container" *ngIf="ownerDetails != null">
          <div>
            <mat-divider></mat-divider>
          </div>
          <div
            class="text mat-typography"
            style="font-size: 20px; font-weight: bold"
          >
            Owner Details
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>

        <table
          mat-table
          [dataSource]="ownerDetails"
          *ngIf="ownerDetails != null"
        >
          <!--Application Id-->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{ element.stateDesc }}</td>
          </ng-container>
          <ng-container matColumnDef="cityDist">
            <th mat-header-cell *matHeaderCellDef>District</th>
            <td mat-cell *matCellDef="let element">{{ element.cityDesc }}</td>
          </ng-container>
          <ng-container matColumnDef="emailId">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
          </ng-container>
          <ng-container matColumnDef="phoneNum">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">{{ element.phoneNum }}</td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <br />
        <br />
        <!-- <div align="center"> <button type="submit" mat-raised-button color="primary"   (click)="submitApplCnfrm()" >Submit For Approval</button>

     </div> -->
      </div>

      <div fxLayout="row" class="prevNxtbtn" fxLayoutGap="20px">
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Prev
          </button>
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            (click)="getPdfForApproval()"
          >
            Generate Pdf
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
