mat-dialog-content{
    padding: 20px;
}mat-label {
    font-size: 15px;

    letter-spacing: 0vmax;
  }
  .close {
    position:absolute;
    top: 20px;
    right: 10px;
    padding: 5px;
    line-height: 14px;
    min-width: auto;

  }
