
<div class="bg-image"></div>

<div class="bg-text">
    
  <br>
  <img  src="assets/FormCImages/emblem.png" class="center" alt="Cinque Terre"  height="200">
  <br>
 
  <br>
  <br>
  <br>
  <h3>Any Hotel/ Guest House/ Dharmashala/Individual House/ University/ Hospital/ Institute/ Others etc. who provide accommodation to foreigners must submit the details of the residing foreigner in Form C to the Registration authorities within 24 hours of the arrival of the foreigner at their premises. This will help the registration authorities in locating and tracking the foreigners. This document provides the functionality of registration process of Hotel/ Guest House/ Dharmashala/Individual House / University/  Hospital/ Institute/ Others etc. owners for Form-C.</h3>

</div>

<!-- <div id="layoutSidenav_content">
  <main class="p-4">
    <h3>Dashboard</h3>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">Primary Card</div>
          <div class="card-footer d-flex align-items-center justify-content-between"> <a
              class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
          <div class="card-body">Warning Card</div>
          <div class="card-footer d-flex align-items-center justify-content-between"> <a
              class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
          <div class="card-body">Success Card</div>
          <div class="card-footer d-flex align-items-center justify-content-between"> <a
              class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
          <div class="card-body">Danger Card</div>
          <div class="card-footer d-flex align-items-center justify-content-between"> <a
              class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div> -->