mat-card {
    border: 0px solid #000;
    width: 500px;
    height: 400px;
    background-color: rgb(23, 128, 196);
  }
  
  mat-label {
    font-size: 15px;
    padding-left: 75px;
    letter-spacing: 0vmax;
  }
  
  mat-form-field {
    display: inline;
    width: 350px;
    padding-left: 75px;
  }
  
  mat-card-header {
    background-color: rgb(23, 128, 196);
    padding-top: 6px;
  }
  
  .auth-form {
    padding: 3%;
    background-color: rgb(242, 242, 242);
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  
  }
  
  ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.5em 0px !important;
  }