mat-label {
  font-size: 15px;

  letter-spacing: 0vmax;
}
mat-form-filed {
  display: inline;
}

.radio-class {
  width: 300px;
}

.basic-form {
  padding: 2%;
  background-color: rgb(242, 242, 242);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;

}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 0.5em 0px !important;
}.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}